.cart {
    height: 100vh;
    padding: 50px 0;
    background-color: $black;
    display: flex;

    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    text-align: end;

    .products-cart {
        border-radius: 10px;
        margin-top: 15vh;
        background-color: rgb(55, 55, 55);
        width: 80vw;

        min-height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        .empty-cart {
            padding: 20px;
            text-align: center;

            p {
                font-weight: 600;
                font-size: 30px;
                color: white;
                margin: auto;
                text-align: center;
            }

            .p-css {
                margin-bottom: 5px;
                font-weight: 300;
                font-size: 15px;
                cursor: pointer;
                transition: all 0.4s ease;
                display: inline;
                
                &:hover {
                    text-decoration: underline white;
                }
            }

            img {
                width: 250px;
                margin-top: 40px;
            }
        }

        .items-cart {
            height: 100%;
            padding-bottom: 0px;
            text-align: start;

            a, h3, h4 , button {
                color: white !important;
            }

            p {
                color: rgba(255, 255, 255, 0.515) !important;
                text-align: start;
            }

        }
    }

    .buttons {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;

        .total-price {
            text-align: end;
            color: white;
            font-weight: 400;
            font-size: 40px;
            margin-left: auto;
        }

        button {
            cursor: pointer;
            background: none;
            border: none;
            color: white;
            margin-right: 20px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .endButton {
        cursor: pointer;
        height: 40px;
        width: 200px;
        background-color: white;
        border: none;
        border-radius: 2px;
        transition: all ease 0.3s;
        color: $black;


        &:hover {
            background: none;
            border: 1px solid white;
            color: white;
        }
    }
}