.featuredProducts {
    height: 90vh;
    overflow: hidden;
    
    .text {
        z-index: 1;
        position: relative;
        flex-direction: column;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;

        h4 {
            font-size: 40px;
        }
    
        h5 {
            font-size: 20px;
        }
    
        .nuestrosProductos {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: underline;
            cursor: pointer;
            width: max-content;
    
    
            &:hover {
                .arrow-effect {
                    opacity: 100%;
                    margin-left: 20px;
                }
            }
    
            .arrow-effect {
                transition: all 0.5s ease;
                opacity: 0%;
            }
    
            p {
                color: white;
                margin-left: 20px;

                a {
                    color: white;
                }
            }
    
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: baseline;


        img {
            position: relative;
        }

        .img1 {
            z-index: 2;
            height: 650px;
        }

        .img2, .img3 {
            z-index: 1;
            height: 550px;
            filter: blur(2px);
        }

        .img2 {
            right: -100px;
        }

        .img3 {
            right: 100px ;
        }
    }
}