@mixin hover-btn-effect  ($text-color , $bckg, $border) {
    transition: all 0.3s ease;

    &:hover {
        background: $bckg;
        border: $border;
        color: $text-color;
    }
}

.itemCount {
    z-index: 3;
    display: flex;
    flex-direction: column;

    .selectAmount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        height: 40px;
        border: 1px solid white;
        color: white;

        margin: 20px 0 10px 0;

        button {
            cursor: pointer;
            width: 40px;
            border: none;
            background: none;
            color: white;

            &:hover p{
                text-shadow: 0px 0px 5px white;
            }
        }

        input {
            text-align: center;
            background: none;
            width: 50px;
            color: white;
            border: none;
            outline: none;
        }
    }

   .addButton {
        cursor: pointer;
        border: none;
        background-color: #ffffff;
        width: 130px;
        height: 40px;
        color: #474747;   
        font-size: 12px;

        @include hover-btn-effect (white, none, 1px solid white)
    }

    .stockAvailable {
        color: white;
        margin-top: 5px;
        font-size: 10px;
    }
}

.bought-true {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;

    button {
        width: 150px;
        height: 42px;
        background: none;
        border: 1px white solid;
        color: white;
    
        @include hover-btn-effect ($black, white, none)
    }

}