.products {
    min-height: 100vh;
    background-color: $black;
    padding-top: 50px;

    .itemListContainer {
        padding: 50px;
        display: flex;
        justify-content: center;
    }

    .itemList {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 20.5vw 20.5vw 20.5vw 20.5vw;
        gap: 50px;

        a {
            text-decoration: none;
        }

        .itemContainer {

            .card-onHover {                
                &::before{
                    clip-path: circle(400px at 80% -20%) !important;
                }

                .imgBx{
                    // top: 40% !important;
                    margin-left: 20%;
                    transform: translateY(0%) translateX(40%) scale(0.9) !important;
                }

                .contentBx{
                    opacity: 100% !important;
                }

                .itemCount {
                    display: flex !important;
                }
            }

            .card {
                overflow: hidden;
                transition: all 0.5s ease;
                position: relative;

                width: 100%;
                height: 450px;

                background-color: #94949454;
                border-radius: 20px;

                &:hover{
                    transform: translateY(-10px);
                }

                &::before{
                    z-index: 1;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #5c3208;
                    // background-color: attr(data-color);
                    clip-path: circle(150px at 80% 20%);
                    border-radius: 20px;

                    transition: all 0.5s ease-in-out;
                }

                .imgBx {
                    pointer-events: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 3;
                    width: 100%;
                    height: 220px;
                    transition: all 0.5s ease;

                    img {
                        max-height: 300px;
                        position: relative;
                        left: -40px;
                        max-width: 250px;
                        filter: drop-shadow(30px 20px 10px rgba(33, 33, 33, 0.315));
                    }
                }

                .contentBx{
                    pointer-events: none;
                    transition: all 0.5s ease;
                    z-index: 3;
                    position: relative;
                    text-align: center;
                    padding: 10px;
                    color: white;
                    opacity: 0%;
                    top: 10px;

                    h2 {
                        font-size: 30px;
                    }

                    .price {
                        margin-top: 10px;
                        font-weight: bold;
                    }
                }

                .itemCount {
                    display: none;
                    position: absolute;
                    bottom: 7%;
                    left: 10%;
                }
            }
        }
    }

}