header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 30px 50px ;
    backdrop-filter: blur(2px);
    z-index: 4;

    .menu-list {
        padding: 0px;
        display: flex;
        align-items: center;

        li {
            list-style: none;
            margin-right: 40px;
            cursor: pointer;
            transition: all 0.2s;
            position: relative;
            color: white;
            
            a {
                color:white;
                text-decoration: none;
            }

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color:white;
                left: 0px;
                bottom: 0px;
    
                transform: scaleX(0);
                transform-origin: left;
                transition: all 0.2s ease;
            }

            &:hover::after{
                transform: scaleX(1);
            }
        }
    }

    #cartWidget {
        width: max-content;
        display: flex;
        transition: all 0.2s;

        &:hover{
            transform: translateX(-10px) ;
        }

        svg{
            fill:white;
            cursor: pointer;

            path {
                pointer-events: none;
            }
        }
        
        .productsNum{
            font-size: 13px;
            text-align: center;
            transition: all 0.2s;
            color: white;
            margin-left: 5px;
        }
    }
    
}




