header {
    display: flex;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(2px);
    position: fixed;
    width: 97%;
    z-index: 4;
    top: 0px;

    .menu-list {
        padding: 0px;
        display: flex;
        align-items: center;

        li {
            list-style: none;
            margin: 0 20px;
            cursor: pointer;
            transition: all 0.2s;
            position: relative;
            
            a {
                color:white;
                text-decoration: none;
            }

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color:white;
                left: 0px;
                bottom: 0px;
    
                transform: scaleX(0);
                transform-origin: left;
                transition: all 0.2s ease;
            }

            &:hover::after{
                transform: scaleX(1);
            }
        }
    }

    #cart {
        margin-left: auto;
        width: max-content;
        display: flex;
        transition: all 0.2s;

        &:hover{
            transform: translateX(-10px) ;
        }

        svg{
            fill:white;
            cursor: pointer;

            path {
                pointer-events: none;
            }
        }
        
        .productsNum{
            color:white;
            transition: all 0.2s;
            margin-left: 10px;
        }
    }
    
}




