.Toastify__toast {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255);
    font-size: 12px;

    height: max-content;
    min-width: 400px !important;
    width: max-content;

    button {
        color: rgb(255, 255, 255);
    }
}