header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    .menu-list {
        padding: 0px;
        display: flex;
        align-items: center;

        li {
            list-style: none;
            margin: 0 20px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover{
                transform: scale(1.2) rotate(2deg);
            }
        }
    }

    .logo-fullCap{
        width: 100px;       
    }

    .cart {
        height: max-content;
        text-align: end;
        width: 230px;
        fill: #2C3639;
        display: flex;
        justify-content: end;
        transition: all 0.2s;

        &:hover{
            transform: translateX(-10px) ;
        }
        
        svg{
            cursor: pointer;

            path {
                pointer-events: none;
            }
        }

        .productsNum{
            margin-left: 10px;
        }

    }
    
}




