*{
  padding: 0px;
  margin: 0px;
}

.App {
  background-color: #F0EBE3;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #2C3639;
}

/* font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Poppins', sans-serif; */