@font-face {
  font-family: signature;
  src: url("../font/Signature Moments.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-dark: #333;
}

body {
  overflow-x: hidden;
}

.home {
  transition: all 0.5s;
  background-color: rgb(220, 215, 201);
  color: #2C3639;
}

.turn-black {
  transition: all 0.5s;
  background-color: #181818;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 50px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 4;
}
header .menu-list {
  padding: 0px;
  display: flex;
  align-items: center;
}
header .menu-list li {
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  color: white;
}
header .menu-list li a {
  color: white;
  text-decoration: none;
}
header .menu-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0px;
  bottom: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease;
}
header .menu-list li:hover::after {
  transform: scaleX(1);
}
header #cartWidget {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  transition: all 0.2s;
}
header #cartWidget:hover {
  transform: scale(1.1);
}
header #cartWidget svg {
  fill: white;
  cursor: pointer;
}
header #cartWidget svg path {
  pointer-events: none;
}
header #cartWidget .productsNum {
  font-size: 13px;
  text-align: center;
  transition: all 0.2s;
  color: white;
  margin-left: 5px;
}

.products {
  min-height: 95vh;
  background-color: #181818;
  padding-top: 50px;
}
.products .itemListContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.products .itemList {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 20.5vw 20.5vw 20.5vw 20.5vw;
  gap: 50px;
}
.products .itemList a {
  text-decoration: none;
}
.products .itemList .itemContainer .no-stock {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.products .itemList .itemContainer .no-stock div {
  position: absolute;
  background-color: #40aa93;
  color: white;
  z-index: 5;
  transform: rotate(-45deg) translateX(-35px) translateY(-5px);
  width: 130px;
  text-align: center;
}
.products .itemList .itemContainer .card-onHover::before {
  -webkit-clip-path: circle(400px at 80% -20%) !important;
          clip-path: circle(400px at 80% -20%) !important;
}
.products .itemList .itemContainer .card-onHover .imgBx {
  margin-left: 20%;
  transform: translateY(-10%) translateX(35%) scale(0.8) !important;
}
.products .itemList .itemContainer .card-onHover .contentBx {
  opacity: 100% !important;
}
.products .itemList .itemContainer .card {
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  width: 100%;
  height: 450px;
  background-color: rgba(148, 148, 148, 0.3294117647);
}
.products .itemList .itemContainer .card:hover {
  transform: translateY(-10px);
}
.products .itemList .itemContainer .card::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #786656;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  transition: all 0.5s ease-in-out;
}
.products .itemList .itemContainer .card .imgBx {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(20px);
  z-index: 3;
  width: 100%;
  height: 220px;
  transition: all 0.5s ease;
}
.products .itemList .itemContainer .card .imgBx img {
  max-height: 300px;
  position: relative;
  left: -40px;
  max-width: 250px;
  filter: drop-shadow(30px 20px 10px rgba(33, 33, 33, 0.315));
}
.products .itemList .itemContainer .card .contentBx {
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 3;
  position: relative;
  text-align: center;
  padding: 10px;
  color: white;
  opacity: 0%;
  top: 10px;
}
.products .itemList .itemContainer .card .contentBx h2 {
  font-size: 30px;
}
.products .itemList .itemContainer .card .contentBx .price {
  margin-top: 10px;
  font-weight: bold;
}

#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#homePage .background {
  margin-top: 0px;
  position: absolute;
  top: 0px;
  filter: blur(2px);
  width: 100%;
}
#homePage img {
  position: absolute;
  width: 200px;
  z-index: 1;
}
#homePage .coffe1 {
  width: 200px;
  top: 0px;
  left: 0px;
}
#homePage .coffe2 {
  width: 200px;
  top: 20px;
  left: 80%;
}
#homePage .coffe3 {
  width: 200px;
  top: 40%;
  left: 80%;
}
#homePage .coffe4 {
  width: 400px;
  top: 55%;
  left: 20%;
}
#homePage .coffe5 {
  width: 240px;
  top: 70%;
  left: -85px;
  transform: rotate(90deg);
}
#homePage .coffe6 {
  width: 320px;
  top: -50px;
  left: 50%;
  transform: rotate(90deg);
  filter: blur(1px);
}
#homePage .coffe7 {
  width: 320px;
  top: 20%;
  left: 5%;
  transform: rotate(90deg);
  filter: blur(1px);
}
#homePage .coffe8 {
  width: 320px;
  top: 85%;
  left: 70%;
  transform: rotate(90deg);
}
#homePage div h1 {
  text-align: center;
  font-size: 150px;
  color: #ffffff;
  font-family: poppins, sans-serif;
}
#homePage div p {
  text-align: end;
  font-family: signature, sans-serif;
  color: white;
  font-size: 30px;
  margin: -100px 0 0 20px;
}

#introduction {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#introduction img {
  overflow: hidden;
  cursor: pointer;
  opacity: 100%;
  z-index: 0;
  height: 550px;
  position: absolute;
  right: -10%;
  transition: transform 0.6s ease-out;
  transition: opacity 0.5s ease;
  filter: drop-shadow(-50px 10px 10px rgba(0, 0, 0, 0.395));
}
#introduction img:hover {
  opacity: 0%;
}
#introduction h2 {
  color: white;
  font-size: 90px;
  font-weight: 900;
  margin-left: 100px;
}
#introduction .contorn-text {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: transparent;
}

.itemCount {
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.itemCount .selectAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  border: 1px solid white;
  color: white;
  margin: 20px 0 10px 0;
}
.itemCount .selectAmount button {
  cursor: pointer;
  width: 40px;
  border: none;
  background: none;
  color: white;
}
.itemCount .selectAmount button:hover p {
  text-shadow: 0px 0px 5px white;
}
.itemCount .selectAmount input {
  text-align: center;
  background: none;
  width: 50px;
  color: white;
  border: none;
  outline: none;
}
.itemCount .addButton {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  width: 130px;
  height: 40px;
  color: #474747;
  font-size: 12px;
  transition: all 0.3s ease;
}
.itemCount .addButton:hover {
  background: none;
  border: 1px solid white;
  color: white;
}
.itemCount .stockAvailable {
  color: white;
  margin-top: 5px;
  font-size: 10px;
}

.bought-true {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.bought-true button {
  width: 150px;
  height: 42px;
  background: none;
  border: 1px white solid;
  color: white;
  transition: all 0.3s ease;
}
.bought-true button:hover {
  background: white;
  border: none;
  color: #181818;
}

.featuredProducts {
  height: 90vh;
  overflow: hidden;
}
.featuredProducts .text {
  z-index: 1;
  position: relative;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.featuredProducts .text h4 {
  font-size: 40px;
}
.featuredProducts .text h5 {
  font-size: 20px;
}
.featuredProducts .text .nuestrosProductos {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.featuredProducts .text .nuestrosProductos:hover .arrow-effect {
  opacity: 100%;
  margin-left: 20px;
}
.featuredProducts .text .nuestrosProductos .arrow-effect {
  transition: all 0.5s ease;
  opacity: 0%;
}
.featuredProducts .text .nuestrosProductos p {
  color: white;
  margin-left: 20px;
}
.featuredProducts .text .nuestrosProductos p a {
  color: white;
}
.featuredProducts .img {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.featuredProducts .img img {
  position: relative;
}
.featuredProducts .img .img1 {
  z-index: 2;
  height: 650px;
}
.featuredProducts .img .img2, .featuredProducts .img .img3 {
  z-index: 1;
  height: 550px;
  filter: blur(2px);
}
.featuredProducts .img .img2 {
  right: -100px;
}
.featuredProducts .img .img3 {
  right: 100px;
}

.itemDetailContainer {
  background-color: #181818;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.itemDetailContainer .go-back {
  position: absolute;
  top: 50%;
  left: 50px;
  border-bottom: 1px white solid;
}
.itemDetailContainer .detailBox {
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: 50px;
  padding: 40px;
  background-color: #0e0e0e;
  display: flex;
}
.itemDetailContainer .detailBox .image {
  margin-right: 60px;
}
.itemDetailContainer .detailBox .image img {
  max-height: 500px;
  max-width: 500px;
}
.itemDetailContainer .detailBox .info {
  color: white;
}
.itemDetailContainer .detailBox .info h2 {
  font-size: 40px;
  line-height: 50px;
}
.itemDetailContainer .detailBox .info h6 {
  font-size: 15px;
  width: 300px;
}
.itemDetailContainer .detailBox .info .price {
  margin-top: 7px;
}
.itemDetailContainer .detailBox .info .no-stock {
  background: none;
  color: white;
  border: 1px solid white;
  height: 40px;
  margin-top: 30px;
  width: 200px;
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee0 {
  transform: translateX(-20px) rotate(45deg);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee1 {
  transform: translateX(20px);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee2 {
  transform: translateX(-10px);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee3 {
  transform: translateX(10px);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee4 {
  transform: translateX(-10px);
}
.itemDetailContainer .coffee-decoration img {
  transition: all ease 0.5s;
  position: absolute;
  z-index: 2;
}
.itemDetailContainer .coffee-decoration .coffee0 {
  width: 100px;
  transform: rotate(45deg);
  left: -5%;
  bottom: 5%;
}
.itemDetailContainer .coffee-decoration .coffee1 {
  left: -15%;
  top: 30%;
  width: 150px;
}
.itemDetailContainer .coffee-decoration .coffee2 {
  right: -10%;
  bottom: 10%;
  width: 150px;
}
.itemDetailContainer .coffee-decoration .coffee3 {
  top: 30%;
  right: -5%;
  width: 150px;
}
.itemDetailContainer .coffee-decoration .coffee4 {
  width: 200px;
  bottom: -20%;
  right: 0%;
  margin-right: 10px;
}

.categoryFilter {
  padding: 50px 50px 0 100px;
}
.categoryFilter .search {
  display: flex;
}
.categoryFilter .search input {
  width: 350px;
  height: 40px;
  background: none;
  color: white;
  border: none;
  border-bottom: 2px white solid;
  margin-right: 30px;
  outline: none;
}
.categoryFilter .search button {
  width: 100px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #181818;
}
.categoryFilter .search button:hover {
  background: none;
  color: white;
  border: white 1px solid;
}
.categoryFilter .filter {
  padding: 20px 0;
}
.categoryFilter .filter button {
  margin-right: 10px;
  min-width: 60px;
  width: auto;
  padding: 10px 10px;
  background: none;
  border: 1px white solid;
  color: white;
  border-radius: 30px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.categoryFilter .filter button svg {
  display: none;
}
.categoryFilter .filter button:hover {
  background-color: white;
  color: #181818;
}
.categoryFilter .filter .clicked {
  background-color: white;
  color: #181818;
}

.cart {
  height: 100vh;
  padding: 50px 0;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  text-align: end;
}
.cart .products-cart {
  border-radius: 10px;
  margin-top: 15vh;
  background-color: rgb(55, 55, 55);
  width: 80vw;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .products-cart .empty-cart {
  padding: 20px;
  text-align: center;
}
.cart .products-cart .empty-cart p {
  font-weight: 600;
  font-size: 30px;
  color: white;
  margin: auto;
  text-align: center;
}
.cart .products-cart .empty-cart .p-css {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.4s ease;
  display: inline;
}
.cart .products-cart .empty-cart .p-css:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.cart .products-cart .empty-cart img {
  width: 250px;
  margin-top: 40px;
}
.cart .products-cart .items-cart {
  height: 100%;
  padding-bottom: 0px;
  text-align: start;
}
.cart .products-cart .items-cart a, .cart .products-cart .items-cart h3, .cart .products-cart .items-cart h4, .cart .products-cart .items-cart button {
  color: white !important;
}
.cart .products-cart .items-cart p {
  color: rgba(255, 255, 255, 0.515) !important;
  text-align: start;
}
.cart .buttons {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}
.cart .buttons .total-price {
  text-align: end;
  color: white;
  font-weight: 400;
  font-size: 40px;
  margin-left: auto;
}
.cart .buttons button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  margin-right: 20px;
}
.cart .buttons button:hover {
  text-decoration: underline;
}
.cart .endButton {
  cursor: pointer;
  height: 40px;
  width: 200px;
  background-color: white;
  border: none;
  border-radius: 2px;
  transition: all ease 0.3s;
  color: #181818;
}
.cart .endButton:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

#offCanvas {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: calc(100vh - 40px);
  width: 500px;
  background-color: white;
  padding: 40px 10px 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
#offCanvas svg {
  top: 10px;
  position: absolute;
  fill: gray;
  cursor: pointer;
}
#offCanvas svg:hover {
  fill: black;
}
#offCanvas .see-cart {
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: absolute;
  bottom: 0px;
}
#offCanvas .see-cart button {
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90%;
  height: 40px;
  background-color: black;
  border: black 1px solid;
  color: white;
}
#offCanvas .see-cart button:hover {
  background-color: white;
  color: black;
}

.items-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  margin-top: 10px;
  padding-bottom: 90px;
  width: 100%;
}
.items-cart .item-cart {
  margin: 20px auto;
  display: flex;
  width: 90%;
}
.items-cart .item-cart img {
  margin-right: 30px;
  width: 65px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
.items-cart .item-cart .item-resume h4 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}
.items-cart .item-cart .item-resume p {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400;
  font-size: 14px;
}
.items-cart .item-cart .item-resume button {
  margin: 30px 20px 0 0;
  background: none;
  border: none;
  cursor: pointer;
}
.items-cart .item-cart .item-resume button a {
  text-decoration: none;
  color: black;
}
.items-cart .item-cart h3 {
  align-self: center;
  margin-left: auto;
}

#offCanvas-backdrop {
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.328);
  position: absolute;
  top: 0;
  right: 0;
}

.hide-sideBar {
  z-index: 0;
  opacity: 0%;
}

.show-sideBar {
  opacity: 100%;
  z-index: 5;
}

.hide-sideBar ~ #offCanvas {
  right: -560px;
}

.show-sideBar ~ #offCanvas {
  right: 0px;
}

.checkOut {
  padding: 0 30px;
  overflow: hidden;
  height: 100vh;
  background-color: #181818;
  display: flex;
}
.checkOut .form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}
.checkOut .form form {
  display: flex;
  flex-direction: column;
}
.checkOut .form p {
  color: white;
}
.checkOut .form h3 {
  color: white;
  font-size: 50px;
  font-weight: 400;
}
.checkOut .form input, .checkOut .form button {
  transition: all ease 0.3s;
  outline: none;
  width: 500px;
  height: 50px;
  background: none;
  border: solid 1px white;
  margin-bottom: 20px;
  padding: 0 10px;
  color: white;
}
.checkOut .form textArea {
  margin-bottom: 20px;
  max-width: 500px;
  min-width: 500px;
  min-height: 100px;
  max-height: 200px;
  background: none;
  border: solid 1px white;
  outline: none;
  padding: 10px;
  color: white;
}
.checkOut .form .inputTel {
  display: flex;
  align-items: center;
}
.checkOut .form .inputTel p {
  color: white;
}
.checkOut .form .inputTel input {
  margin-left: 20px;
  width: 50px !important;
  text-align: center;
}
.checkOut .form #buyer-send {
  width: 522px;
  background-color: white;
  color: #181818;
  transition: all ease 0.3s;
  cursor: pointer;
}
.checkOut .form #buyer-send:hover {
  background: none;
  color: white;
}
.checkOut .itemsOnCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 40%;
  background-color: rgb(52, 52, 52);
  margin-left: auto;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  right: 5%;
}
.checkOut .itemsOnCart .items-cart {
  margin: 0px;
  padding: 0 20px !important;
}
.checkOut .itemsOnCart .items-cart h3, .checkOut .itemsOnCart .items-cart h4, .checkOut .itemsOnCart .items-cart p, .checkOut .itemsOnCart .items-cart button, .checkOut .itemsOnCart .items-cart a {
  color: white !important;
}
.checkOut .itemsOnCart .precioFinal {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: white 1px solid;
}
.checkOut .itemsOnCart .precioFinal p {
  margin: 0 15px;
}
.checkOut .finished {
  z-index: 8;
  position: absolute;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.217);
  width: 100vw;
  height: 100vh;
}
.checkOut .finished div {
  margin: 5% auto 0 auto;
  padding: 50px;
  text-align: center;
}
.checkOut .finished div h2 {
  font-family: signature, sans-serif;
  line-height: 80px;
  font-size: 40px;
}
.checkOut .finished div h2, .checkOut .finished div p {
  color: white;
}
.checkOut .finished div svg {
  transition: all ease 0.3s;
  fill: white;
  margin-top: 300px;
  cursor: pointer;
}
.checkOut .finished div svg:hover {
  opacity: 70%;
}
.checkOut .finished div p {
  margin-top: 100px;
}

.cupLoader-bckg {
  z-index: 6;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #252525;
}

.cupLoader {
  height: 100px;
  width: 140px;
  border: 6px solid #252525;
  position: fixed;
  top: 50%;
  left: 45%;
  border-radius: 5px 5px 70px 70px;
  background: url(../img/liquid.png);
  background-repeat: repeat-x;
  background-position: 0px 140px;
  -webkit-animation: fill 2.5s infinite;
          animation: fill 2.5s infinite;
  box-shadow: 0px 0px 0px 6px white;
  transition: all 0.3s ease;
}

@-webkit-keyframes fill {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -450px 100px;
  }
  40% {
    background-position: -900px 50px;
  }
  80% {
    background-position: -1350px -40px;
  }
  100% {
    background-position: 0px 140px;
  }
}

@keyframes fill {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -450px 100px;
  }
  40% {
    background-position: -900px 50px;
  }
  80% {
    background-position: -1350px -40px;
  }
  100% {
    background-position: 0px 140px;
  }
}
.handle {
  height: 40px;
  width: 30px;
  background-color: transparent;
  border: 6px solid white;
  position: relative;
  left: 147px;
  top: 0px;
  border-radius: 0px 25px 80px 0px;
}

.loadingText {
  color: white;
  position: relative;
  top: 60px;
  text-align: center;
  left: 3px;
}

/**
* ==============================================
* Dot Spin
* ==============================================
*/
.dot-spin {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 6;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 0 white, 18px 0 0 0 white, 12.727926px 12.727926px 0 0 rgba(255, 255, 255, 0), 0 18px 0 0 rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 0 rgba(255, 255, 255, 0), -18px 0 0 0 rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 0 rgba(255, 255, 255, 0);
  -webkit-animation: dot-spin 1.5s infinite linear;
          animation: dot-spin 1.5s infinite linear;
}

@-webkit-keyframes dot-spin {
  0%, 100% {
    box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 0 white, 18px 0 0 0 white, 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 0 white, 18px 0 0 0 white, 12.727926px 12.727926px 0 0 white, 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 0 white, 12.727926px 12.727926px 0 0 white, 0 18px 0 0 white, -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 0 white, 0 18px 0 0 white, -12.727926px 12.727926px 0 0 white, -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 0 white, -12.727926px 12.727926px 0 0 white, -18px 0 0 0 white, -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 0 white, -18px 0 0 0 white, -12.727926px -12.727926px 0 0 white;
  }
  75% {
    box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 0 white, -12.727926px -12.727926px 0 0 white;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 0 white, 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 0 white;
  }
}

@keyframes dot-spin {
  0%, 100% {
    box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 0 white, 18px 0 0 0 white, 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 0 white, 18px 0 0 0 white, 12.727926px 12.727926px 0 0 white, 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 0 white, 12.727926px 12.727926px 0 0 white, 0 18px 0 0 white, -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 0 white, 0 18px 0 0 white, -12.727926px 12.727926px 0 0 white, -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 0 white, -12.727926px 12.727926px 0 0 white, -18px 0 0 0 white, -12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(255, 255, 255, 0), 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 0 white, -18px 0 0 0 white, -12.727926px -12.727926px 0 0 white;
  }
  75% {
    box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 -5px rgba(255, 255, 255, 0), 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 0 white, -12.727926px -12.727926px 0 0 white;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 white, 12.727926px -12.727926px 0 0 white, 18px 0 0 -5px rgba(255, 255, 255, 0), 12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), 0 18px 0 -5px rgba(255, 255, 255, 0), -12.727926px 12.727926px 0 -5px rgba(255, 255, 255, 0), -18px 0 0 -5px rgba(255, 255, 255, 0), -12.727926px -12.727926px 0 0 white;
  }
}
.Toastify__toast {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
  font-size: 12px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 400px !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.Toastify__toast button {
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */