*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
  }
  
  .App {
    background-color: #F0EBE3;
    height: 100vh;
    color: #2C3639;
}

@import "./components/NavBar";
@import "./components/Products";