// variables 
@font-face {
  font-family: cerlions ;
  src: url("../font/Cerlions-Regular.otf");
}

@font-face {
  font-family: signature ;
  src: url("../font/Signature\ Moments.ttf");
}

$gris: #2C3639;
$beige: rgb(220, 215, 201);

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
  
.home {
  transition: all 0.5s;
  background-color: $beige;
  color: $gris;
}

.turn-black {
  transition: all 0.5s;
  background-color: #181818
}


@import "./components/NavBar";
@import "./components/ItemListContainer";
@import "./components/HomePage";
@import "./components/Introduction";
@import "./components/loading";
@import "./components/ItemCount";
@import "./components/FeaturedProducts";
@import "./components/ItemDetail";
@import "./components/SearchFilter";





