@font-face {
  font-family: cerlions;
  src: url("../font/Cerlions-Regular.otf");
}
@font-face {
  font-family: signature;
  src: url("../font/Signature Moments.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.home {
  transition: all 0.5s;
  background-color: rgb(220, 215, 201);
  color: #2C3639;
}

.turn-black {
  transition: all 0.5s;
  background-color: #181818;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 50px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 4;
}
header .menu-list {
  padding: 0px;
  display: flex;
  align-items: center;
}
header .menu-list li {
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  color: white;
}
header .menu-list li a {
  color: white;
  text-decoration: none;
}
header .menu-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0px;
  bottom: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease;
}
header .menu-list li:hover::after {
  transform: scaleX(1);
}
header #cart {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  transition: all 0.2s;
}
header #cart:hover {
  transform: translateX(-10px);
}
header #cart svg {
  fill: white;
  cursor: pointer;
}
header #cart svg path {
  pointer-events: none;
}
header #cart .productsNum {
  color: white;
  transition: all 0.2s;
  margin-left: 10px;
}

.itemListContainer {
  background-color: #181818;
  padding-top: 50px;
  display: flex;
  min-height: 110vh;
  flex-direction: column;
}
.itemListContainer .itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
.itemListContainer .itemList a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px;
}
.itemListContainer .itemList .itemContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.itemListContainer .itemList .itemContainer .card-onHover::before {
  -webkit-clip-path: circle(400px at 80% -20%) !important;
          clip-path: circle(400px at 80% -20%) !important;
}
.itemListContainer .itemList .itemContainer .card-onHover .imgBx {
  margin-left: 20%;
  transform: translateY(0%) translateX(40%) scale(0.9) !important;
}
.itemListContainer .itemList .itemContainer .card-onHover .contentBx {
  opacity: 100% !important;
}
.itemListContainer .itemList .itemContainer .card-onHover .itemCount {
  display: flex !important;
}
.itemListContainer .itemList .itemContainer .card {
  transition: all 0.5s ease;
  position: relative;
  width: 320px;
  height: 450px;
  background-color: rgba(148, 148, 148, 0.3294117647);
  border-radius: 20px;
}
.itemListContainer .itemList .itemContainer .card:hover {
  transform: translateY(-10px);
}
.itemListContainer .itemList .itemContainer .card::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5c3208;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.itemListContainer .itemList .itemContainer .card .imgBx {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 100%;
  height: 220px;
  transition: all 0.5s ease;
}
.itemListContainer .itemList .itemContainer .card .imgBx img {
  max-height: 300px;
  position: relative;
  left: -40px;
  max-width: 250px;
  filter: drop-shadow(30px 20px 10px rgba(33, 33, 33, 0.315));
}
.itemListContainer .itemList .itemContainer .card .contentBx {
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 3;
  position: relative;
  text-align: center;
  padding: 10px;
  color: white;
  opacity: 0%;
  top: 10px;
}
.itemListContainer .itemList .itemContainer .card .contentBx h2 {
  font-size: 30px;
}
.itemListContainer .itemList .itemContainer .card .contentBx .price {
  margin-top: 10px;
  font-weight: bold;
}
.itemListContainer .itemList .itemContainer .card .itemCount {
  display: none;
  position: absolute;
  bottom: 7%;
  left: 10%;
}

#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#homePage .background {
  margin-top: 0px;
  position: absolute;
  top: 0px;
  filter: blur(2px);
  width: 100%;
}
#homePage img {
  position: absolute;
  width: 200px;
  z-index: 1;
}
#homePage .coffe1 {
  width: 200px;
  top: 0px;
  left: 0px;
}
#homePage .coffe2 {
  width: 200px;
  top: 20px;
  left: 80%;
}
#homePage .coffe3 {
  width: 200px;
  top: 40%;
  left: 80%;
}
#homePage .coffe4 {
  width: 400px;
  top: 55%;
  left: 20%;
}
#homePage .coffe5 {
  width: 240px;
  top: 70%;
  left: -85px;
  transform: rotate(90deg);
}
#homePage .coffe6 {
  width: 320px;
  top: -50px;
  left: 50%;
  transform: rotate(90deg);
  filter: blur(1px);
}
#homePage .coffe7 {
  width: 320px;
  top: 20%;
  left: 5%;
  transform: rotate(90deg);
  filter: blur(1px);
}
#homePage .coffe8 {
  width: 320px;
  top: 85%;
  left: 70%;
  transform: rotate(90deg);
}
#homePage div h1 {
  text-align: center;
  font-size: 150px;
  color: #ffffff;
  font-family: poppins, sans-serif;
}
#homePage div p {
  text-align: end;
  font-family: signature, sans-serif;
  color: white;
  font-size: 30px;
  margin: -100px 0 0 20px;
}

#introduction {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#introduction img {
  overflow: hidden;
  cursor: pointer;
  opacity: 100%;
  z-index: 0;
  height: 550px;
  position: absolute;
  right: -10%;
  transition: transform 0.6s ease-out;
  transition: opacity 0.5s ease;
  filter: drop-shadow(-50px 10px 10px rgba(0, 0, 0, 0.395));
}
#introduction img:hover {
  opacity: 0%;
}
#introduction h2 {
  color: white;
  font-size: 90px;
  font-weight: 900;
  margin-left: 100px;
}
#introduction .contorn-text {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: transparent;
}

.cupLoader-bckg {
  z-index: 6;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #252525;
}

.cupLoader {
  height: 100px;
  width: 140px;
  border: 6px solid #252525;
  position: fixed;
  top: 50%;
  left: 45%;
  border-radius: 5px 5px 70px 70px;
  background: url(../img/liquid.png);
  background-repeat: repeat-x;
  background-position: 0px 140px;
  -webkit-animation: fill 2.5s infinite;
          animation: fill 2.5s infinite;
  box-shadow: 0px 0px 0px 6px white;
  transition: all 0.3s ease;
}

@-webkit-keyframes fill {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -450px 100px;
  }
  40% {
    background-position: -900px 50px;
  }
  80% {
    background-position: -1350px -40px;
  }
  100% {
    background-position: 0px 140px;
  }
}

@keyframes fill {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -450px 100px;
  }
  40% {
    background-position: -900px 50px;
  }
  80% {
    background-position: -1350px -40px;
  }
  100% {
    background-position: 0px 140px;
  }
}
.handle {
  height: 40px;
  width: 30px;
  background-color: transparent;
  border: 6px solid white;
  position: relative;
  left: 147px;
  top: 0px;
  border-radius: 0px 25px 80px 0px;
}

.loadingText {
  color: white;
  position: relative;
  top: 60px;
  text-align: center;
  left: 3px;
}

.itemCount {
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.itemCount .selectAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  border: 1px solid white;
  color: white;
  margin: 20px 0;
}
.itemCount .selectAmount button {
  cursor: pointer;
  width: 40px;
  border: none;
  background: none;
  color: white;
}
.itemCount .selectAmount button:hover p {
  text-shadow: 0px 0px 5px white;
}
.itemCount .addButton {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  width: 130px;
  height: 40px;
  color: #474747;
  transition: all 0.3s ease;
  font-size: 12px;
}
.itemCount .addButton:hover {
  background: none;
  border: white 1px solid;
  color: white;
}
.itemCount .stockAvailable {
  color: white;
  margin-top: 5px;
  font-size: 10px;
}

.featuredProducts {
  height: 92vh;
  overflow: hidden;
}
.featuredProducts .text {
  z-index: 1;
  position: relative;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.featuredProducts .text h4 {
  font-size: 40px;
}
.featuredProducts .text h5 {
  font-size: 20px;
}
.featuredProducts .text .nuestrosProductos {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.featuredProducts .text .nuestrosProductos:hover .arrow-effect {
  opacity: 100%;
  margin-left: 20px;
}
.featuredProducts .text .nuestrosProductos .arrow-effect {
  transition: all 0.5s ease;
  opacity: 0%;
}
.featuredProducts .text .nuestrosProductos p {
  color: white;
  margin-left: 20px;
}
.featuredProducts .text .nuestrosProductos p a {
  color: white;
}
.featuredProducts .img {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.featuredProducts .img img {
  position: relative;
}
.featuredProducts .img .img1 {
  z-index: 2;
  height: 650px;
}
.featuredProducts .img .img2, .featuredProducts .img .img3 {
  z-index: 1;
  height: 550px;
  filter: blur(2px);
}
.featuredProducts .img .img2 {
  right: -100px;
}
.featuredProducts .img .img3 {
  right: 100px;
}

.itemDetailContainer {
  background-color: #181818;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.itemDetailContainer svg {
  position: absolute;
  top: 50%;
  left: 50px;
  border-bottom: 1px white solid;
}
.itemDetailContainer .detailBox {
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: 50px;
  padding: 40px;
  background-color: #0e0e0e;
  display: flex;
}
.itemDetailContainer .detailBox .image {
  margin-right: 60px;
}
.itemDetailContainer .detailBox .image img {
  max-height: 500px;
  max-width: 500px;
}
.itemDetailContainer .detailBox .info {
  color: white;
}
.itemDetailContainer .detailBox .info h2 {
  font-size: 40px;
  line-height: 50px;
}
.itemDetailContainer .detailBox .info h6 {
  font-size: 15px;
  width: 300px;
}
.itemDetailContainer .detailBox .info .price {
  margin-top: 7px;
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee0 {
  transform: translateX(-20px) rotate(45deg);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee1 {
  transform: translateX(20px);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee2 {
  transform: translateX(-10px);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee3 {
  transform: translateX(10px);
}
.itemDetailContainer .detailBox:hover .coffee-decoration .coffee4 {
  transform: translateX(-10px);
}
.itemDetailContainer .coffee-decoration img {
  transition: all ease 0.5s;
  position: absolute;
  z-index: 2;
}
.itemDetailContainer .coffee-decoration .coffee0 {
  width: 100px;
  transform: rotate(45deg);
  left: -5%;
  bottom: 5%;
}
.itemDetailContainer .coffee-decoration .coffee1 {
  left: -15%;
  top: 30%;
  width: 150px;
}
.itemDetailContainer .coffee-decoration .coffee2 {
  right: -10%;
  bottom: 10%;
  width: 150px;
}
.itemDetailContainer .coffee-decoration .coffee3 {
  top: 30%;
  right: -5%;
  width: 150px;
}
.itemDetailContainer .coffee-decoration .coffee4 {
  width: 200px;
  bottom: -20%;
  right: 0%;
  margin-right: 10px;
}

.categoryFilter {
  padding: 50px 50px 0 100px;
}
.categoryFilter .search {
  display: flex;
}
.categoryFilter .search input {
  width: 350px;
  height: 40px;
  background: none;
  color: white;
  border: none;
  border-bottom: 2px white solid;
  margin-right: 30px;
  outline: none;
}
.categoryFilter .search button {
  width: 100px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #181818;
}
.categoryFilter .search button:hover {
  background: none;
  color: white;
  border: white 1px solid;
}
.categoryFilter .filter {
  padding: 20px 0;
}
.categoryFilter .filter button {
  margin-right: 10px;
  min-width: 60px;
  width: auto;
  padding: 10px 10px;
  background: none;
  border: 1px white solid;
  color: white;
  border-radius: 30px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.categoryFilter .filter button svg {
  display: none;
}
.categoryFilter .filter button:hover {
  background-color: white;
  color: #181818;
}
.categoryFilter .filter .clicked {
  background-color: white;
  color: #181818;
}/*# sourceMappingURL=style.css.map */