// variables 
@font-face {
  font-family: cerlions ;
  src: url("../font/Cerlions-Regular.otf");
}

@font-face {
  font-family: signature ;
  src: url("../font/Signature\ Moments.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@import "./components/variables";

@import "./components/NavBar";
@import "./components/ItemListContainer";

@import "./components/HomePage";
@import "./components/Introduction";
@import "./components/loading";
@import "./components/ItemCount";
@import "./components/FeaturedProducts";
@import "./components/ItemDetail";
@import "./components/SearchFilter";
@import "./components/Cart";
@import "./components/SideCart";
